body {
	margin: 0;
	color: #FFF;
	background-color: #000;
	overflow: hidden;
	-webkit-user-select: none;
	   -moz-user-select: none;
		-ms-user-select: none;
			user-select: none;
}

#plot {
	position: absolute;
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	height: 100%;
	-webkit-user-select: none;
	   -moz-user-select: none;
		-ms-user-select: none;
			user-select: none;
}
